<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-2">
      <h1 class="jumbotron">{{title}}</h1>
      <p>Welcome to {{title}}</p>
    </div>
  </div>
</div>
