body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img.index {
  width: 125px;
  height: auto;
}

.row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.index .col-lg-7 {
  margin-top: 1rem;
}

span.rating {
  color: blue;
}
